set scrolloff=10
set incsearch
set tabstop=4
set nu
set relativenumber
let mapleader = ' '

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'

" Undo / Redo
nmap u u
nmap <C-r> <C-r>

" Tab (editor) navigation
nmap H :action PreviousTab<CR>
nmap L :action NextTab<CR>

" Close the current editor
nmap Q <Action>(CloseEditor)

" Yanking
map <C-S-c> "+y

" Pasting
map <C-S-v> "+p

" Moving cursor and keeping cursor centered
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz

" Searching and keeping cursor centered
nmap n nzzzv
nmap N Nzzzv
 
" Moving selection
vmap J :m '>+1<CR>gv=gv
vmap K :m '<-2<CR>gv=gv

" Run app
nmap <leader>r <Action>(Run)

" Terminal (Ctrl + Q closes terminal)
nmap <C-enter> <Action>(ActivateTerminalToolWindow)

nmap <leader>q <Action>(QuickJavaDoc)
nmap <leader>t <Action>(ActivateTerminalToolWindow)
 
nmap <leader>oi <Action>(OptimizeImports)
 
nmap <leader>7 <Action>(CommentByLineComment)
vmap <leader>7 <Action>(CommentByLineComment)
 
nmap <leader>f <Action>(FindInPath)
nmap <leader><leader> <Action>(SearchEverywhere)
 
nmap <leader>a <Action>(ShowIntentionActions)
nmap <leader>su <Action>(ShowUsages)
nmap <leader>u <Action>(FindUsages)
 
nmap gi :action GotoImplementation<CR>
nmap gfu<Action>(FindUsages)
nmap gq :action ShowIntentionActions<CR>
nmap gt :action GotoTypeDeclaration<CR>

nmap <leader>gc <Action>(GotoClass)
nmap <leader>gf <Action>(GotoFile)
nmap <leader>gs <Action>(GotoSymbol)
 
nmap <leader>b <Action>(ToggleLineBreakpoint)
 
" Remember these commands:
" Visual mode brackets:
" vi( vi{ vi< va( va{ va< vaw
" Tab comamnds:
" gt gT
