" FIND ALL ACTIONS BY USING :actionlist
" Find specific action :actionlist logcat

mapclear

let mapleader = ' '

" --- Configuration ---
set scrolloff=15
set incsearch
set tabstop=4
set nu
set relativenumber
set ignorecase smartcase
set timeout
set timeoutlen=500

" --- Plugins ---
set idearefactormode=keep
set ideajoin
set easymotion
set highlightedyank
set surround
set argtextobj
set commentary

" --- General Mappings ---
" Select all
nnoremap <leader>a ggVG

" Undo / Redo
nnoremap U <C-r>

" Close tab
nnoremap <leader>q :action CloseContent<CR>
nnoremap Q :action CloseEditor<CR>

" Move between tabs OR gt/gT
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>

" --- Yanking & Pasting ---
nnoremap <leader>y "+y
vnoremap <leader>y "+y
nnoremap <leader>Y "+Y

nnoremap <C-S-v> "+p
vnoremap <C-S-v> "+p
inoremap <C-S-v> <C-r>+

" Paste over selection without overwriting the register
vnoremap <leader>p "_dP

" Delete without overwriting clipboard
nnoremap <leader>d "_d
vnoremap <leader>d "_d

" --- Cursor & Search Movement ---
nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap n nzzzv
nnoremap N Nzzzv

" --- IDE Search & Navigation ---
nnoremap <leader>ff :action SearchEverywhere<CR>
nnoremap <leader>fa :action GotoAction<CR>
nnoremap <leader>gc :action GotoClass<CR>
nnoremap <leader>gf :action GotoFile<CR>
nnoremap <leader>n  :action ShowNavBar<CR>
nnoremap <leader>f  :action FileStructurePopup<CR>

" --- Go To Actions (Standardized with Center Screen) ---
nnoremap gi :action GotoImplementation<CR>zz
nnoremap gd :action GotoTypeDeclaration<CR>zz
nnoremap gs :action GotoSuperMethod<CR>zz
nnoremap gq :action ShowIntentionActions<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gR :action FindUsages<CR>
nnoremap <leader>doc :action QuickJavaDoc<CR>

" --- Moving Lines / Selection ---
vnoremap J :m '>+1<CR>gv
vnoremap K :m '<-2<CR>gv
nnoremap <A-j> :action MoveLineDown<CR>
nnoremap <A-k> :action MoveLineUp<CR>
vnoremap <A-j> :action MoveLineDown<CR>
vnoremap <A-k> :action MoveLineUp<CR>

" --- Config Shortcuts ---
nnoremap <leader>src :source ~/.ideavimrc<CR>

" --- Tool Windows ---
nnoremap <leader>st  :action ActivateTerminalToolWindow<CR>
nnoremap <leader>sg  :action ActivateCommitToolWindow<CR>
nnoremap <leader>sd  :action ActivateDebugToolWindow<CR>
nnoremap <leader>sp  :action ActivateProjectToolWindow<CR>
nnoremap <leader>sl  :action ActivateLogcatToolWindow<CR>

" --- Code Editing ---
nnoremap <leader>oi :action OptimizeImports<CR>

" Commenting (The custom fix we discussed)
nnoremap <leader>7 :action CommentByLineComment<CR>kzz
vnoremap <leader>7 :action CommentByLineComment<CR>gvzz

" --- Window Management ---
nnoremap <leader>mt  :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader>mr  :action RecentProjectListGroup<CR>
nnoremap <leader>cot :action CloseAllEditorsButActive<CR>
nnoremap <leader>ca  :action CloseAllEditors<CR>
nnoremap <leader>ch  :action CloseAllToTheLeft<CR>
nnoremap <leader>cl  :action CloseAllToTheRight<CR>
nnoremap <leader>rl  :action RestoreDefaultLayout<CR>

" Splits
nnoremap <C-w>v :vsplit<CR>
nnoremap <C-w>s :split<CR>

" --- Build / Run App ---
nnoremap <leader>ar  :action Run<CR>
nnoremap <leader>ard :action Debug<CR>
nnoremap <leader>as  :action Stop<CR>
nnoremap <leader>asy :action Android.SyncProject<CR>
nnoremap <leader>art :action RunClass<CR>
nnoremap <leader>sm  :action SelectMultipleDevices<CR>
nnoremap <leader>ra  :action Synchronize<CR>

" --- Debugging ---
nnoremap <leader>vb :action ViewBreakpoints<CR>
nnoremap <leader>b  :action ToggleLineBreakpoint<CR>
nnoremap <leader>ad :action AndroidConnectDebuggerAction<CR>

" --- Indenting ---
vnoremap < <gv
vnoremap > >gv

" --- Plugins / Leap ---
nnoremap s :action AceAction<CR>
vnoremap s :action AceAction<CR>

" --- Jump List (Inversed as requested) ---
nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>

" --- Quick Tabs ---
nnoremap <leader>1 :action GoToTab1<CR>
nnoremap <leader>2 :action GoToTab2<CR>
nnoremap <leader>3 :action GoToTab3<CR>
nnoremap <leader>4 :action GoToTab4<CR>

" ============================================================================
" REMEMBER THESE COMMANDS:
" ============================================================================

" Visual mode brackets (Text Objects):
" vi( -> select inside parens | vi{ -> select inside curly | vi< -> inside angle
" va( -> select around parens | vaw -> select a word

" Center screen
" zz (Manually center if a mapping didn't do it for you)

" Show recent files
" Ctrl + E (IntelliJ default) or Ctrl + R

" Commenting
" <leader>7 -> Toggles // comments, stays on line, and centers.
"
" Go to next and previous tab
" H and L (Mapped above to Shift+H and Shift+L)
"
" Go to next window group
" C-W-w
"
" Go to right or left tab group
" C-W-h OR C-W-l
"
" Using EasyMotion (Sneak-like)
" Press "s" -> then type characters to jump.
" If you want to go to next one press ";" and previous ","
" ============================================================================
